<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Direktori Pengguna</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <!-- SENARAI ID PENGGUNA -->

      <h1 class="header">Direktori Pengguna</h1>

      <div class="inner-container">

        <form class="" action="/maklumat-staf" method="post">

          <h3>Senarai ID Pengguna</h3>

          <table class="direktori center-table">
            <thead>
              <tr>
                <th>Bil.</th>
                <th>Jenis ID</th>
                <th>Pengguna</th>
              </tr>
            </thead>
            <tbody class="clickable-row">
              <% rowsOfStaf.forEach(function(row){ %>
              <!-- <% if (row.Bil >= 1) { %> -->
                <tr>
                  <td><%= row.Bil %></td>
                  <td><%= row.Jenis_ID %></td>
                  <td><%= row.Nama_Staf %> </td>
                </tr>
              <!-- <% } %> -->
              <% }) %>
            </tbody>
          </table>

          <div class="group-buttons">

            <button type="submit" name="tambah" value="tambah">Tambah</button>
            <button class="hidden" type="submit" name="hapus" id="hapus" value="">Hapus</button>
            <button class="hidden" type="submit" name="ubah" id="ubah" value="">Ubah</button>

          </div>

        </form>

      </div>



    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/direktori-pengguna.js"></script>

  </body>
</html>
