<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Direktori Pengguna</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <span class="burger">Menu</span>
      <a href="#">Buat Aduan</a>
      <a href="#">Semakan Aduan</a>
      <a href="#">Tukar katalaluan</a>
      <a class="log-keluar" href="#">Log Keluar</a>
    </nav>

    <div class="container">

      <!-- SENARAI ID PENGGUNA -->

      <h1 class="header">Direktori Pengguna</h1>

      <div class="inner-container">

        <h3>Senarai ID Pengguna</h3>

        <table class="direktori center-table">
          <thead>
            <tr>
              <th>Bil.</th>
              <th>Jenis ID</th>
              <th>Pengguna</th>
            </tr>
          </thead>
          <tbody class="clickable-row">
            <tr>
              <td>1</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
          </tbody>
        </table>

        <div class="group-buttons">

          <button type="button" name="tambah">Tambah</button>
          <button type="button" name="hapus">Hapus</button>

        </div>

      </div>



    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
