<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">\
    <!-- used buat-aduan.css because identical elements -->
    <link rel="stylesheet" href="/css/buat-aduan.css">
    <title>Direktori Pengguna</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <ul>
        <li><a href="#">Buat Aduan</a></li>
        <li><a href="#">Semakan Aduan</a></li>
        <li><a href="#">Tukar Kata Laluan</a></li>
        <li class="logout">
          <div class="logout2">
            <a href="#">Log Keluar</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container">

      <!-- SENARAI ID PENGGUNA -->

      <h1 class="header">Direktori Pengguna</h1>

      <div class="inner-container">

        <h3>Senarai ID Pengguna</h3>

        <table class="direktori center-table">
          <thead>
            <tr>
              <th>Bil.</th>
              <th>Jenis ID</th>
              <th>Pengguna</th>
            </tr>
          </thead>
          <tbody class="clickable-row">
            <tr>
              <td>1</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Staf</td>
              <td>Hafizuddin</td>
            </tr>
          </tbody>
        </table>

        <div class="group-buttons">

          <button type="button" name="tambah">Tambah</button>
          <button type="button" name="hapus">Hapus</button>

        </div>

      </div>



    </div>

  </body>
</html>
