<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Info Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <span class="burger">Menu</span>
      <a href="#">Buat Aduan</a>
      <a href="#">Semakan Aduan</a>
      <a href="#">Tukar katalaluan</a>
      <a class="log-keluar" href="#">Log Keluar</a>
    </nav>

    <div class="container">

      <!-- INFO ADUAN -->

      <h3 class="header">Info Aduan</h3>

      <table class="borderless center-table">
          <tbody>
            <tr>
              <td>Jenis Aduan</td>
              <td>Kebersihan</td>
            </tr>
            <tr>
              <td>Kawasan</td>
              <td>Bangunan Iman</td>
            </tr>
            <tr>
              <td>Lokasi</td>
              <td>Aras 1, Stor</td>
            </tr>
            <tr>
              <td>Kategori</td>
              <td>Tandas</td>
            </tr>
            <tr>
              <td>Item</td>
              <td>Flush</td>
            </tr>
            <tr>
              <td>Perihal</td>
              <td>Tidak berfungsi dengan baik tetapi masih boleh digunakan kalau diperlukan tembak tembak pun tak kene apa nak jadi la oi</td>
            </tr>
            <tr>
              <td>Gambar</td>
              <td><img src="/public/images/tandas.jfif" alt="Gambar tandas"></td>
            </tr>
          </tbody>
      </table>

      <!-- INFO PENERIMA TUGAS -->

      <h3 class="header">Info Penerima Tugas</h3>

      <table class="borderless center-table extra-space">

        <tbody>
          <tr>
            <td>Nama Petugas</td>
            <td>Hafizuddin</td>
          </tr>
          <tr>
            <td>Tarikh Terima</td>
            <td>1 Julai 2020</td>
          </tr>
          <tr>
            <td>Ulasan</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>Tarikh Siap</td>
            <td>N/A</td>
          </tr>
        </tbody>

      </table>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
