<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/log-masuk.css">
    <title>Log Masuk</title>
  </head>
  <body>
    <div class="container">

      <div class="logo">
        <div class="gambar">
          <img src="images/logo-sekolah.png" alt="Logo Sekolah Islam Hidayah">
        </div>
        <span>Sistem Aduan dan Maklum Balas</span>
      </div>

      <div class="borang">
        <span>Log Masuk</span>

        <form class="" action="/log-masuk" method="post">

          <div class="id-pengguna">
            <label for="name">ID Pengguna</label>
            <input type="text" name="id" value="">
          </div>

          <div class="kata-laluan">
            <label for="pass">Kata Laluan</label>
            <input type="password" name="pass" value="">
          </div>

          <div class="log-masuk-button">
            <button type="submit" name="log-masuk">Log masuk</button>
          </div>


        </form>

      </div>

    </div>

  </body>
</html>
