      <nav>
        <span class="burger">Menu</span>
        <a href="/aduan/<%= user %>/buat-aduan">Buat Aduan</a>
        <a href="/aduan/<%= user %>/semakan-aduan/senarai-aduan">Semakan Aduan</a>
        <a href="/aduan/<%= user %>/tukar-katalaluan">Tukar katalaluan</a>
        <a class="log-keluar" href="/aduan">Log Keluar</a>
      </nav>
