    <nav>
      <ul>
        <li><a href="#">Buat Aduan</a></li>
        <li><a href="#">Semakan Aduan</a></li>
        <li><a href="#">Tukar Kata Laluan</a></li>
        <li class="logout">
          <div class="logout2">
            <a href="#">Log Keluar</a>
          </div>
        </li>
      </ul>
    </nav>
