<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Semakan Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <span class="burger">Menu</span>
      <a href="#">Buat Aduan</a>
      <a href="#">Semakan Aduan</a>
      <a href="#">Tukar katalaluan</a>
      <a class="log-keluar" href="#">Log Keluar</a>
    </nav>

    <h1 class="header">Semakan Aduan</h1>

    <div class="container">

    </div>
    <div class="flexbox">

      <!-- SENARAI ADUAN -->

      <div class="container3 grey">



        <h3 class="header">Senarai Aduan</h3>

        <table class="senarai-no-aduan">
          <thead>
            <tr>
              <th>No. Aduan</th>
              <th class="table-jenis-aduan">Jenis Aduan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1234</td>
              <td>Kebersihan</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="container3 longer">

        <!-- INFO ADUAN -->

        <h3>Info Aduan</h3>

        <table class="borderless info-aduan">
            <tbody>
              <tr>
                <td>Jenis Aduan</td>
                <td>Kebersihan</td>
              </tr>
              <tr>
                <td>Kawasan</td>
                <td>Bangunan Iman</td>
              </tr>
              <tr>
                <td>Lokasi</td>
                <td>Aras 1, Stor</td>
              </tr>
              <tr>
                <td>Kategori</td>
                <td>Tandas</td>
              </tr>
              <tr>
                <td>Item</td>
                <td>Flush</td>
              </tr>
              <tr>
                <td>Perihal</td>
                <td>Tidak berfungsi dengan baik tetapi masih boleh digunakan kalau diperlukan tembak tembak pun tak kene</td>
              </tr>
              <tr>
                <td>Gambar</td>
                <td><img src="/public/images/tandas.jfif" alt="Gambar tandas"></td>
              </tr>
            </tbody>
        </table>

        <!-- INFO PENERIMA TUGAS -->

        <h3>Info Penerima Tugas</h3>

        <table class="borderless info-penerima-tugas">

          <tbody>
            <tr>
              <td>Nama Petugas</td>
              <td>Hafizuddin</td>
            </tr>
            <tr>
              <td>Tarikh Terima</td>
              <td>1 Julai 2020</td>
            </tr>
            <tr>
              <td>Ulasan</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Tarikh Siap</td>
              <td>N/A</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>


    <div class="space"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
