<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Info Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <span class="burger">Menu</span>
      <a href="#">Buat Aduan</a>
      <a href="#">Semakan Aduan</a>
      <a href="#">Tukar katalaluan</a>
      <a class="log-keluar" href="#">Log Keluar</a>
    </nav>

    <div class="container">

      <h1 class="header">Senarai Aduan</h1>

      <table class="senarai-no-aduan">
        <thead>
          <tr>
            <th>No. Aduan</th>
            <th class="table-jenis-aduan">Jenis Aduan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1234</td>
            <td>Kebersihan</td>
          </tr>
        </tbody>
      </table>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
