<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/buat-aduan.css">
    <title>Tindakan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <span class="burger">Menu</span>
      <a href="#">Buat Aduan</a>
      <a href="#">Semakan Aduan</a>
      <a href="#">Tukar katalaluan</a>
      <a class="log-keluar" href="#">Log Keluar</a>  
    </nav>

    <div class="container">

      <h1 class="header">Tindakan</h1>

      <form class="" action="/" method="post">

        <!-- SENARAI NO. ADUAN -->

        <h3>Senarai No. Aduan</h3>

        <table class="center-table">

          <thead>
            <tr>
              <th>Bil.</th>
              <th>No. Aduan</th>
              <th>Kawasan</th>
              <th>Lokasi</th>
              <th>Jenis Tugasan</th>
              <th>Kategori</th>
              <th>Perihal</th>
            </tr>
          </thead>
          <tbody class="clickable-row">
            <tr>
              <td>1</td>
              <td>1234</td>
              <td>Luar</td>
              <td>Rumah</td>
              <td>Kebersihan</td>
              <td>Panas</td>
              <td>Malaysia panas sangat</td>
            </tr>
          </tbody>
        </table>

        <button type="button" name="reset">Reset</button>
        <button type="submit" name="terima">Terima</button>

      </form>



    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
