<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Info Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <form class="" action="/" method="post">

        <!-- INFO ADUAN -->

        <h3>Info Aduan</h3>

        <table class="borderless center-table">
            <tbody>
              <tr>
                <td>Jenis Aduan</td>
                <td>Kebersihan</td>
              </tr>
              <tr>
                <td>Kawasan</td>
                <td>Bangunan Iman</td>
              </tr>
              <tr>
                <td>Lokasi</td>
                <td>Aras 1, Stor</td>
              </tr>
              <tr>
                <td>Kategori</td>
                <td>Tandas</td>
              </tr>
              <tr>
                <td>Item</td>
                <td>Flush</td>
              </tr>
              <tr>
                <td>Perihal</td>
                <td>Tidak berfungsi dengan baik tetapi masih boleh digunakan kalau diperlukan tembak tembak pun tak kene apa nak jadi la oi</td>
              </tr>
              <tr>
                <td>Gambar</td>
                <td><img src="/public/images/tandas.jfif" alt="Gambar tandas"></td>
              </tr>
            </tbody>
        </table>

        <!-- INFO PENERIMA TUGAS -->

        <h3>Info Penerima Tugas</h3>

        <table class="borderless center-table extra-space">

          <tbody>
            <tr>
              <td>No. Rujukan ID</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Nama Penerima</td>
              <td>Sharif</td>
            </tr>
            <tr>
              <td>Tarikh dan Masa Terima</td>
              <td>N/A</td>
            </tr>
          </tbody>

        </table>

        <button type="submit" name="terima-tugasan">Terima Tugasan</button>

      </form>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
