<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tukar KataLaluan</title>
    <!-- USED buat-aduan.css since it have identical stuff -->
    <link rel="stylesheet" href="/css/buat-aduan.css">
  </head>
  <body>

    <!-- NAVBAR -->

    <nav>
      <ul>
        <li><a href="#">Buat Aduan</a></li>
        <li><a href="#">Semakan Aduan</a></li>
        <li><a href="#">Tukar Kata Laluan</a></li>
        <li class="logout">
          <div class="logout2">
            <a href="#">Log Keluar</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container">

      <h1 class="header">Tukar Katalaluan</h1>

      <!-- INFO ID ASAL -->

      <form class="" action="/" method="post">

        <h3>Info ID Asal</h3>

        <table class="center-table">
          <tbody>
            <tr>
              <td><label for="id-pengguna">ID Pengguna</label></td>
              <td><input type="text" name="id-pengguna" value=""></td>
            </tr>
            <tr>
              <td><label for="katalaluan">Katalaluan</label></td>
              <td><input type="password" name="katalaluan" value=""></td>
            </tr>
          </tbody>
        </table>

        <!-- PENUKARAN -->

        <h3>Penukaran</h3>

        <table class="center-table">
          <tbody>
            <tr>
              <td><label for="katalaluan-baru">ID Pengguna</label></td>
              <td><input type="password" name="katalaluan-baru" value=""></td>
            </tr>
            <tr>
              <td><label for="pengesahan">Katalaluan</label></td>
              <td><input type="password" name="pengesahan" value=""></td>
            </tr>
          </tbody>
        </table>

        <button type="submit" name="tukar">Tukar</button>
      </form>

    </div>




  </body>
</html>
