<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tukar KataLaluan</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <h1 class="header">Tukar Katalaluan</h1>

      <!-- INFO ID ASAL -->

      <form class="" action="/tukar-katalaluan" method="post">

        <h3>Info ID Asal</h3>

        <table class="center-table">
          <tbody>
            <tr>
              <td><label for="id_pengguna">ID Pengguna</label></td>
              <td><input type="text" name="id_pengguna" value=""></td>
            </tr>
            <tr>
              <td><label for="katalaluan">Katalaluan</label></td>
              <td><input type="password" name="katalaluan" value=""></td>
            </tr>
          </tbody>
        </table>

        <!-- PENUKARAN -->

        <h3>Penukaran</h3>

        <table class="center-table">
          <tbody>
            <tr>
              <td><label for="katalaluan_baru">Katalaluan baru</label></td>
              <td><input type="password" name="katalaluan_baru" value=""></td>
            </tr>
          </tbody>
        </table>

        <button type="submit" name="tukar">Tukar</button>
      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
